.content{
    height: 100vw;
}
.btnshowme:hover{
    background-color: green;

}
.jarak {
    margin-top: 10vh;
    padding-top: 8%;
    padding-bottom: 5%;
    padding-right: 10%;
    padding-left: 10%;
    background: #393c42;
}

.padcard{
    margin-bottom: 5%;
    padding-top: 8%;
    padding-bottom: 5%;
    padding-right: 5%;
    padding-left: 5%;
}

h3{
    margin-top: 10px;
    text-align: center
}

p{
    line-height: 1.6;
    text-align: center;
}

.img-responsive {
    margin: 0 auto !important;
}